USE [master]
GO
/****** Object:  Database [DB_A44489_asistencia]    Script Date: 17/01/2019 8:03:51 ******/
CREATE DATABASE [DB_A44489_asistencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_A44489_asistencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_A44489_asistencia.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_A44489_asistencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\DB_A44489_asistencia_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_A44489_asistencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_A44489_asistencia]
GO
/****** Object:  User [kakarotto]    Script Date: 17/01/2019 8:03:51 ******/
CREATE USER [kakarotto] FOR LOGIN [kakarotto] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asistencia](
	[asi_id] [int] IDENTITY(1,1) NOT NULL,
	[asi_fecha] [date] NOT NULL,
	[asi_hora_inicio] [time](7) NOT NULL,
	[asi_hora_fin] [time](7) NULL,
	[asi_tiempo] [int] NOT NULL,
	[asi_contenido] [varchar](10) NULL,
	[asi_est_id] [int] NOT NULL,
	[asi_tema_id] [int] NOT NULL,
 CONSTRAINT [pk8] PRIMARY KEY CLUSTERED 
(
	[asi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estudiante](
	[est_id] [int] IDENTITY(1,1) NOT NULL,
	[est_nombre] [varchar](50) NOT NULL,
	[est_apellido] [varchar](30) NOT NULL,
	[est_telefono] [varchar](15) NULL,
	[est_direccion] [varchar](100) NOT NULL,
	[est_correo] [varchar](50) NOT NULL,
	[est_cedula] [varchar](50) NOT NULL,
	[est_cole_univ] [varchar](50) NULL,
 CONSTRAINT [pk1] PRIMARY KEY CLUSTERED 
(
	[est_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Horario_Profesor]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horario_Profesor](
	[hor_pro_id] [int] IDENTITY(1,1) NOT NULL,
	[hor_pro_dia] [nvarchar](50) NOT NULL,
	[hor_pro_hora_inicio] [time](7) NOT NULL,
	[hor_pro_hora_fin] [time](7) NOT NULL,
	[hor_pro_pro_id] [nvarchar](128) NOT NULL,
 CONSTRAINT [pk5] PRIMARY KEY CLUSTERED 
(
	[hor_pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[ins_id] [int] IDENTITY(1,1) NOT NULL,
	[ins_fecha] [date] NOT NULL,
	[ins_valor] [float] NOT NULL,
	[ins_total_horas] [int] NOT NULL,
	[ins_saldo] [int] NULL,
	[ins_est_id] [int] NOT NULL,
 CONSTRAINT [pk2] PRIMARY KEY CLUSTERED 
(
	[ins_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Materia]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Materia](
	[mat_id] [int] IDENTITY(1,1) NOT NULL,
	[mat_nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk3] PRIMARY KEY CLUSTERED 
(
	[mat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesor]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Profesor](
	[pro_id] [nvarchar](128) NOT NULL,
	[pro_nombre] [varchar](50) NULL,
	[pro_apellido] [varchar](30) NULL,
	[pro_telefono] [varchar](15) NULL,
	[pro_direccion] [varchar](100) NULL,
	[pro_correo] [varchar](50) NOT NULL,
	[pro_cedula] [varchar](50) NULL,
	[pro_profesion] [varchar](50) NULL,
 CONSTRAINT [pk4] PRIMARY KEY CLUSTERED 
(
	[pro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Profesor_Materia]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesor_Materia](
	[pro_mat_id] [int] IDENTITY(1,1) NOT NULL,
	[pro_mat_pro_id] [nvarchar](128) NOT NULL,
	[pro_mat_mat_id] [int] NOT NULL,
 CONSTRAINT [pk6] PRIMARY KEY CLUSTERED 
(
	[pro_mat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tema]    Script Date: 17/01/2019 8:03:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tema](
	[tema_id] [int] IDENTITY(1,1) NOT NULL,
	[tema_nombre] [varchar](50) NOT NULL,
	[tema_pro_mat_id] [int] NOT NULL,
 CONSTRAINT [pk7] PRIMARY KEY CLUSTERED 
(
	[tema_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Administrador')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Secretaria')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3', N'Profesor')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9d3483b5-aac9-4952-9db4-b89cdfd7f53b', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'cb7becd9-c867-4dfb-a393-26a39e5d8bb8', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5e9c718d-5d53-48f1-a5ed-3089ab96f76a', N'alex@profesor.com', 0, N'ABjkU36R/quV/tNAx97kJC7gZwuBq/j3+a7Oq1lWSFioNo0qws/xbv1iElco9T+7gQ==', N'7a0d68de-686f-4818-bf87-5d4327cbfc0d', NULL, 0, 0, NULL, 1, 0, N'alex@profesor.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'9d3483b5-aac9-4952-9db4-b89cdfd7f53b', N'secretaria@secretaria.com', 0, N'AFR/bkvgxTlPCENGi3Ph383SMjY+acXjFmQWFm7pton2uA4e6wkXgDzAZxk75f+5og==', N'e3a0749e-7dc8-4565-97ef-e6bb7ed062c3', NULL, 0, 0, NULL, 1, 0, N'secretaria@secretaria.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'cb7becd9-c867-4dfb-a393-26a39e5d8bb8', N'administrador@administrador.com', 0, N'AAV2Vy/sY3exCFGN6AkQlZb/iCwtQyEegwkKvbXYj3jPYOTg7Xaj8CRf8D9rAKYjhA==', N'7f411bab-5ee9-4a8d-969f-d16960760d34', NULL, 0, 0, NULL, 1, 0, N'administrador@administrador.com')
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

INSERT [dbo].[Estudiante] ([est_id], [est_nombre], [est_apellido], [est_telefono], [est_direccion], [est_correo], [est_cedula], [est_cole_univ]) VALUES (1, N'Kakarotto', N'son', N'1563456', N'asdasasd', N'asd@asd.com', N'0603928854', N'espe')
SET IDENTITY_INSERT [dbo].[Estudiante] OFF
SET IDENTITY_INSERT [dbo].[Horario_Profesor] ON 

INSERT [dbo].[Horario_Profesor] ([hor_pro_id], [hor_pro_dia], [hor_pro_hora_inicio], [hor_pro_hora_fin], [hor_pro_pro_id]) VALUES (1, N'Lunes', CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), N'5e9c718d-5d53-48f1-a5ed-3089ab96f76a')
SET IDENTITY_INSERT [dbo].[Horario_Profesor] OFF
SET IDENTITY_INSERT [dbo].[Inscripcion] ON 

INSERT [dbo].[Inscripcion] ([ins_id], [ins_fecha], [ins_valor], [ins_total_horas], [ins_saldo], [ins_est_id]) VALUES (1, CAST(N'2015-12-05' AS Date), 0, 8, NULL, 1)
INSERT [dbo].[Inscripcion] ([ins_id], [ins_fecha], [ins_valor], [ins_total_horas], [ins_saldo], [ins_est_id]) VALUES (2, CAST(N'2019-01-16' AS Date), 0, 3, NULL, 1)
INSERT [dbo].[Inscripcion] ([ins_id], [ins_fecha], [ins_valor], [ins_total_horas], [ins_saldo], [ins_est_id]) VALUES (3, CAST(N'2019-01-01' AS Date), 0, 2, NULL, 1)
SET IDENTITY_INSERT [dbo].[Inscripcion] OFF
INSERT [dbo].[Profesor] ([pro_id], [pro_nombre], [pro_apellido], [pro_telefono], [pro_direccion], [pro_correo], [pro_cedula], [pro_profesion]) VALUES (N'5e9c718d-5d53-48f1-a5ed-3089ab96f76a', N'Alexander', N'Arcos', N'0987670512', N'Ambato', N'alex@profesor.com', N'1805150354', N'VAgo SA')
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [fk6] FOREIGN KEY([asi_est_id])
REFERENCES [dbo].[Estudiante] ([est_id])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [fk6]
GO
ALTER TABLE [dbo].[Asistencia]  WITH CHECK ADD  CONSTRAINT [fk7] FOREIGN KEY([asi_tema_id])
REFERENCES [dbo].[Tema] ([tema_id])
GO
ALTER TABLE [dbo].[Asistencia] CHECK CONSTRAINT [fk7]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Horario_Profesor]  WITH CHECK ADD  CONSTRAINT [fk2] FOREIGN KEY([hor_pro_pro_id])
REFERENCES [dbo].[Profesor] ([pro_id])
GO
ALTER TABLE [dbo].[Horario_Profesor] CHECK CONSTRAINT [fk2]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([ins_est_id])
REFERENCES [dbo].[Estudiante] ([est_id])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [fk1]
GO
ALTER TABLE [dbo].[Profesor_Materia]  WITH CHECK ADD  CONSTRAINT [fk3] FOREIGN KEY([pro_mat_pro_id])
REFERENCES [dbo].[Profesor] ([pro_id])
GO
ALTER TABLE [dbo].[Profesor_Materia] CHECK CONSTRAINT [fk3]
GO
ALTER TABLE [dbo].[Profesor_Materia]  WITH CHECK ADD  CONSTRAINT [fk4] FOREIGN KEY([pro_mat_mat_id])
REFERENCES [dbo].[Materia] ([mat_id])
GO
ALTER TABLE [dbo].[Profesor_Materia] CHECK CONSTRAINT [fk4]
GO
ALTER TABLE [dbo].[Tema]  WITH CHECK ADD  CONSTRAINT [fk5] FOREIGN KEY([tema_pro_mat_id])
REFERENCES [dbo].[Profesor_Materia] ([pro_mat_id])
GO
ALTER TABLE [dbo].[Tema] CHECK CONSTRAINT [fk5]
GO
USE [master]
GO
