
@{
	ViewBag.Title = "IndexAdmin";

}
	<div id="page-wrapper">
		<div class="row">
			<center>
				<h2>
					<FONT FACE="impact" SIZE=20 COLOR="#2B44E3">
						Bienvenido al Centro de Capacitación
					</FONT>
				</h2>
			</center>
			<!-- /.col-lg-12 -->
		</div>
		
		</div>
		

		<!-- /#page-wrapper -->
